.rss-feed {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 10px;

  & svg {
    cursor: pointer;
    position: absolute;
    width: 1.4rem;
    height: 1.4rem;
    top: calc(50% - 10px);
    fill: var(--darkgray);
    transition: opacity 0.1s ease;
  }
}
