@use "./base.scss";

.page-title a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

a {
    text-decoration: underline;

    &.internal {
        text-decoration: underline;

        &.tag-link {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
