@use "./base.scss";

.page-title a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

a {
    text-decoration: underline;

    &.internal {
        padding: .125rem .4rem;
        text-decoration: underline;

        &.tag-link {
            padding: .125rem .4rem;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.tags {
    gap: .25rem;
}

footer ul {
    gap: .5rem;
}
