@use "./base.scss";

.page-title a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

a {
    text-decoration: underline;

    &.internal {
        padding: .125rem .4rem;
        text-decoration: underline;

        &.tag-link {
            padding: .125rem .4rem;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.search {
    max-width: 0;

    & > #search-icon {
        background-color: initial;

        & > p,
        & > div {
            display: none;
        }

        svg {
            height: 2rem;
            margin: 0;
            padding-inline: .5rem;
        }
    }
}

.tags {
    gap: .25rem;
}

    .toc {
        background-color: var(--lightgray);
        padding: .5rem 1rem;
        border: solid 1px var(--highlight);

        #toc-content {
            ul > li > a {
                opacity: .75;
            }

            ul.overflow > li:last-of-type,
            ol.overflow > li:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    ul.overflow:after,
    ol.overflow:after {
        display: none;
        height: 0;
    }

footer ul {
    gap: .5rem;
}
